div.archive {
    display: flex;
    height: 100%;
    @media (max-width: 767.98px) {
        flex-direction: column;
    }
}
div.archive > div.add {
    flex: 6;
    margin-right: 2rem;
    @media (max-width: 767.98px) {
        margin-right: 0;
    }
    nb-card-body.shortcode > form  {
        display: flex;
    }
}
div.archive > div.activity {
    flex: 4;
    nb-card {
        height: 100%;
    }
    div.post {
        width: 100%;
        display: flex;
        align-items: center;
        > div.info { margin: 0 0.5rem; }
    }
}