<div class="archive">
  <div class="add">
    <nb-card>
      <nb-card-header>From Shortcode</nb-card-header>
      <nb-card-body class="shortcode">
        <form (ngSubmit)="onSubmit()" #createPostForm="ngForm">
          <input type="text" required nbInput fullWidth placeholder="Enter Instagram shortcode" [(ngModel)]="shortcode" name="post_url" #name="ngModel">
          <button nbButton type="submit" status="primary" [disabled]="!createPostForm.form.valid" style="margin-left: 1rem;">Save</button>
        </form>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>From Time Range</nb-card-header>
    </nb-card>
  </div>
  <div class="activity">
    <nb-card>
      <nb-card-header>Activities</nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let shortcode of activities.slice().reverse()">
          <div class="post">
            <div *ngIf="this.latest_event.get(shortcode) as event" [ngSwitch]="event">
              <nb-icon *ngSwitchCase="'post.create'" icon="loader-outline" status="info"></nb-icon>
              <nb-icon *ngSwitchCase="'post.saved'" icon="checkmark-circle-2" status="success"></nb-icon>
              <nb-icon *ngSwitchCase="'post.not_found'" icon="alert-circle" status="info"></nb-icon>
            </div>
            <div>
              <label><b>{{shortcode}}</b></label>
              <div class="caption" *ngIf="this.posts.get(shortcode) as post; else loading">
                {{post.owner_username}}
              </div>
              <ng-template #loading><div class="caption">Saving...</div></ng-template>
            </div>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
</div>