<div class="archive">
  <div class="add">
    <nb-card>
      <nb-card-header>From Shortcode</nb-card-header>
      <nb-card-body class="shortcode">
        <form (ngSubmit)="onSubmit()" #createPostForm="ngForm">
          <input 
            required nbInput fullWidth 
            type="text" placeholder="Enter Instagram shortcode" 
            [(ngModel)]="shortcode" name="post_url" #name="ngModel"
            autocorrect="off" autocapitalize="off" spellcheck="false"
          >
          <button nbButton type="submit" status="primary" [disabled]="!createPostForm.form.valid" style="margin-left: 1rem;">Save</button>
        </form>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>From Time Range</nb-card-header>
    </nb-card>
  </div>
  <div class="activity">
    <nb-card>
      <nb-card-header>Activities</nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let shortcode of shortcodes.slice().reverse()">
          <div class="post" *ngIf="this.activities.get(shortcode) as activity">
            <div [ngSwitch]="activity.event">
              <nb-icon *ngSwitchCase="'post.create'" icon="loader-outline" status="info"></nb-icon>
              <nb-icon *ngSwitchCase="'post.saved'" icon="checkmark-circle-2" status="success"></nb-icon>
              <nb-icon *ngSwitchCase="'post.not_found'" icon="alert-circle" status="danger"></nb-icon>
            </div>
            <div class="info">
              <label><b>{{ activity.shortcode }}</b></label>
              <div class="caption" [ngSwitch]="activity.event">
                <div *ngSwitchCase="'post.create'">Saving...</div>
                <div *ngSwitchCase="'post.saved'">{{ activity.post?.owner_username || "unknown" }}</div>
                <div *ngSwitchCase="'post.not_found'">{{ activity.message }}</div>
              </div>
            </div>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
</div>