div.profiles {
    display: flex;
    height: 100%;
    @media (max-width: 991.98px) {
        flex-direction: column;
    }
}
div.profiles > div.list {
    flex: 3;
    margin-right: 2rem;
    @media (max-width: 991.98px) {
        margin-right: 0;
    }
    nb-card {
        height: 100%;
    }
}
div.profiles > div.detail {
    flex: 7;
    nb-card {
        height: 100%;
    }
    div.post {
        width: 100%;
        display: flex;
        align-items: center;
        > div.info { margin: 0 0.5rem; }
    }
}