nb-card {
  max-height: calc(100vh - 8rem);
  margin: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 6.25rem;
}

nb-card-header {
  display: flex;
  justify-content: space-between;
}

nb-card-body div.row {
  display: flex;
  p.title { flex: 5; margin-right: 1rem;}
  p.detail { flex: 15 }
  p {margin: 0.5rem 0;}
}