@forward '@nebular/theme/styles/theming';
@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/themes/default';
@use '@nebular/theme/styles/themes/dark';

$nb-themes: nb-register-theme((
  list-item-padding: 0.5rem,
  user-name-text-font-weight: 600,
  sidebar-padding: 0,
), default, default);

$nb-themes: nb-register-theme((
  list-item-padding: 0.5rem,
  user-name-text-font-weight: 600,
  sidebar-padding: 0,
), dark, dark);
