<nb-layout>
  <nb-layout-header fixed>
    <h4>InstaArchiver</h4>
    <div class="filter">
      <nb-select 
        placeholder="All Years" 
        [selected]="year" 
        (selectedChange)="selectedYearChanged($event)"
      >
        <nb-option>All Years</nb-option>
        <nb-option value="2022">2022</nb-option>
        <nb-option value="2021">2021</nb-option>
        <nb-option value="2020">2020</nb-option>
        <nb-option value="2019">2019</nb-option>
        <nb-option value="2018">2018</nb-option>
      </nb-select>
      <nb-select 
        placeholder="All Months"
        [disabled]="year == undefined"
        [selected]="month" 
        (selectedChange)="selectedMonthChanged($event)"
      >
        <nb-option>All Months</nb-option>
        <nb-option value="1">January</nb-option>
        <nb-option value="2">February</nb-option>
        <nb-option value="3">March</nb-option>
        <nb-option value="4">April</nb-option>
        <nb-option value="5">May</nb-option>
        <nb-option value="6">June</nb-option>
        <nb-option value="7">July</nb-option>
        <nb-option value="8">August</nb-option>
        <nb-option value="9">September</nb-option>
        <nb-option value="10">October</nb-option>
        <nb-option value="11">November</nb-option>
        <nb-option value="12">December</nb-option>
      </nb-select>
    </div>
  </nb-layout-header>
  <nb-sidebar>
    <nb-list>
      <nb-list-item 
        *ngFor="let profile of profileService.profiles" 
        [routerLink]="['/posts']"
        [queryParams]="{username: profile.username}" 
        [queryParamsHandling]="'merge'"
        routerLinkActive="active">
        <nb-user 
          [onlyPicture]="true"
          [picture]="profileService.getProfileImagePath(profile.image_filename)"
          size="small"
          shape="rectangle">
        </nb-user>
        <div class="profile_name">{{ profile.display_name }}</div>
      </nb-list-item>
    </nb-list>
  </nb-sidebar>
  <nb-layout-column style="padding: 1.5rem">
    <posts-grid></posts-grid>
    <nb-card class="detail" *ngIf="profile$ | async as profile">
      <nb-card-header>
        <nb-user 
          [name]="profile.display_name" 
          [title]="selectedShortcode ?? profile.username" 
          [picture]="profileService.getProfileImagePath(profile.image_filename)"
          shape="rectangle" size="large">
        </nb-user>
        <nb-actions size="small" *ngIf="selectedShortcode">
          <nb-action icon="trash-2-outline" title="Delete Media" (click)="editProfile(profile.username, profile.display_name)"></nb-action>
          <nb-action icon="close-circle-outline" title="Close posts" (click)="closePost()"></nb-action>    
        </nb-actions>
        <nb-actions size="small" *ngIf="!selectedShortcode">
          <nb-action icon="edit-outline" title="Edit Profile" (click)="editProfile(profile.username, profile.display_name)"></nb-action>
          <nb-action icon="external-link" title="Open Instagram Profile" (click)="openInstagramProfile(profile.username)"></nb-action>    
        </nb-actions>
      </nb-card-header>
      <nb-card-body>
        <post-detail *ngIf="selectedShortcode; else elseBlock"></post-detail>
        <ng-template #elseBlock>
          <profile-detail [profile]="profile"></profile-detail>
        </ng-template>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>