<div class="posts">
  <div class="filter">
    <nb-card>
      <nb-card-header>Profiles</nb-card-header>
      <nb-list>
        <nb-list-item
          [routerLink]=""
          [queryParams]="{username: null}" 
          [queryParamsHandling]="'merge'"
        ><b>All</b></nb-list-item>
        <nb-list-item 
          *ngFor="let profile of profileService.profiles" 
          [routerLink]=""
          [queryParams]="{username: profile.username}" 
          [queryParamsHandling]="'merge'"
          routerLinkActive="active">
          <nb-user 
            [onlyPicture]="true"
            [picture]="profileService.getProfileImagePath(profile.image_filename)"
            shape="rectangle">
          </nb-user>
          <div>
            <div><b>{{ profile.display_name }}</b></div>
            <div>{{ profile.username }}</div>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
  <div class="list">
    <nb-list nbInfiniteList [threshold]="1500" [listenWindowScroll]="true" (bottomThreshold)="loadNext()">
      <nb-list-item *ngFor="let post of posts; let postIndex=index;">
        <nb-card>
          <div *ngFor="let item of post.items; let itemIndex=index;" class="media">
            <img *ngIf="item.type == 'image'" loading="lazy" [src]="postService.getMediaPath(post.username, item.filename)">
            <video *ngIf="item.type == 'video'" preload="none" controls muted [poster]="postService.getPosterPath(post.username, item.thumb_image_filename)">
              <source [src]="postService.getMediaPath(post.username, item.filename)" type="video/mp4">
            </video>
            <button nbButton (click)="delete(post, item, postIndex, itemIndex)"><nb-icon icon="trash-2-outline"></nb-icon></button>
          </div>
          <nb-accordion>
            <nb-accordion-item>
              <nb-accordion-item-header>
                <div>
                  <div><b>{{ this.profileService.display_names.get(post.username) }}</b></div>
                  <div>{{ post.timestamp | date:'medium' }}</div>
                </div>
              </nb-accordion-item-header>
              <nb-accordion-item-body>
                <div>{{ post.caption }}</div>
              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
        </nb-card>
      </nb-list-item>
    </nb-list>
  </div>
  <div class="filter">
    <nb-card class="time_range">
      <nb-card-header>Time Range</nb-card-header>
      <nb-card-body>
        <nb-select 
          fullWidth 
          placeholder="All Years" 
          size="medium"
          [selected]="year" 
          (selectedChange)="selectedYearChanged($event)"
        >
          <nb-option>All Time</nb-option>
          <nb-option value="2021">2021</nb-option>
          <nb-option value="2020">2020</nb-option>
          <nb-option value="2019">2019</nb-option>
        </nb-select>
        <nb-select 
          fullWidth 
          placeholder="All Months" 
          size="medium"
          [disabled]="year == null"
          [selected]="month" 
          (selectedChange)="selectedMonthChanged($event)"
        >
          <nb-option>All Months</nb-option>
          <nb-option value="1">January</nb-option>
          <nb-option value="2">February</nb-option>
          <nb-option value="3">March</nb-option>
          <nb-option value="4">April</nb-option>
          <nb-option value="5">May</nb-option>
          <nb-option value="6">June</nb-option>
          <nb-option value="7">July</nb-option>
          <nb-option value="8">August</nb-option>
          <nb-option value="9">September</nb-option>
          <nb-option value="10">October</nb-option>
          <nb-option value="11">November</nb-option>
          <nb-option value="12">December</nb-option>
        </nb-select>
      </nb-card-body>
    </nb-card>
  </div>
</div>