div.posts {
  display: flex;
  @media (max-width: 767.98px) { flex-direction: column }
}
div.posts > div.filter {
  flex: 4;
  @media (max-width: 767.98px) { flex: none; }

  position: -webkit-sticky;
  position: sticky;
  top: 7rem;
  @media (max-width: 991.98px) { top: 6.25rem; }
  @media (max-width: 767.98px) { position: static }

  height: calc(100vh - 8.75rem);
  @media (max-width: 991.98px) { height: calc(100vh - 7.25rem) }
  @media (max-width: 767.98px) { height: auto }

  nb-card.time_range nb-card-body nb-select:first-of-type {
    margin-bottom: 0.5rem;
  }
}
div.posts > div.list {
  flex: 6;
  @media (max-width: 767.98px) { flex: none; }
  
  margin: 0 2rem;
  @media (max-width: 991.98px) { margin: 0 1rem; }
  @media (max-width: 767.98px) { margin: 0; }

  nb-list-item {
    padding: 0;
    nb-card {
      width: 100%;
    }
    div.media {
      position: relative;
      > button {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        display: none;
        z-index: 2;
      }
    }
    div.media:first-of-type  {
      img { border-radius: 4px 4px 0 0; }
      video { border-radius: 4px 4px 0 0; }
    }
    div.media:hover > button {
      display:block;
    }
    div.media > img, video {
      width: 100%;
    }
    nb-accordion {
      box-shadow: none;
      nb-accordion-item-header {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
      }
    }
    nb-accordion-item-body {
      div {
        word-break: break-word;
      }
    }
  }
}