div.container {
  display: flex;
  @media (max-width: 991.98px) { flex-direction: column }
}
div.container > div.posts {
  flex: 6;
  @media (max-width: 991.98px) { flex: none; }

  margin-left: 2rem;
  @media (max-width: 991.98px) { margin-left: 0rem }

  nb-list-item {
    padding: 0;
    flex-direction: column;
    img {
      max-width: 100%;
    }
  }
}
div.container > div.detail {
  flex: 4;
  @media (max-width: 991.98px) { flex: none; }
}