<nb-layout>
  <nb-layout-header fixed>
    <button nbButton ghost status="primary" size="large" (click)="toggle()">
      <nb-icon icon="menu-outline"></nb-icon>
    </button>
    <h4>InstaArchiver</h4>
  </nb-layout-header>
  <nb-layout-column></nb-layout-column>
  <nb-sidebar responsive [(state)]="sidebarState">
    <div *ngIf="response$ | async as response">
      <nb-list>
        <nb-list-item *ngFor="let profile of response.profiles">
          <nb-user 
            size="small" 
            shape="rectangle" 
            [name]="profile.display_name"
            [picture]="profileService.getProfileImagePath(profile.image_filename)"
            [onlyPicture]="sidebarState != 'expanded'"
          ></nb-user>
        </nb-list-item>
      </nb-list>
    </div>
  </nb-sidebar>
 </nb-layout>