<nb-layout>
  <nb-layout-header fixed>
    <button nbButton status="success" size="tiny" (click)="toggle()">Toggle</button>
  </nb-layout-header>
  <nb-layout-column></nb-layout-column>
  <nb-sidebar>
    <div *ngIf="response$ | async as response">
      <nb-list>
        <nb-list-item *ngFor="let profile of response.profiles">
          <nb-user 
            size="small" 
            shape="rectangle" 
            [name]="profile.display_name"
            [picture]="profileService.getProfileImagePath(profile.image_filename)"
          ></nb-user>
        </nb-list-item>
      </nb-list>
    </div>
  </nb-sidebar>
 </nb-layout>