@use '../themes.scss' as *;

nb-list-item {
    padding: 0.75rem;
}
nb-list-item div.profile_name {
    font-size: 0.85rem;
    font-weight: 700;
}
nb-list-item:hover {
    background-color:nb-theme(color-basic-hover);
}
nb-list-item.active {
    background-color:nb-theme(color-basic-active);
}