<nb-layout>
  <nb-layout-header fixed>
    <button nbButton ghost status="primary" size="large" (click)="toggle()">
      <nb-icon icon="menu-outline"></nb-icon>
    </button>
    <h4>InstaArchiver</h4>
    <div class="filter">
      <nb-select 
        placeholder="All Years" 
        scrollStrategy="reposition"
        [(selected)]="year" 
        (selectedChange)="selectedYearChanged($event)"
      >
        <nb-option >All Years</nb-option>
        <nb-option *ngFor='let item of [].constructor(10); let i = index' [value]="(2023 - i).toString()">{{ 2023 - i }}</nb-option>
      </nb-select>
      <nb-select 
        placeholder="All Months"
        scrollStrategy="reposition"
        [disabled]="year == undefined"
        [(selected)]="month"
        (selectedChange)="selectedMonthChanged($event)"
      >
        <nb-option>All Months</nb-option>
        <nb-option value="1">January</nb-option>
        <nb-option value="2">February</nb-option>
        <nb-option value="3">March</nb-option>
        <nb-option value="4">April</nb-option>
        <nb-option value="5">May</nb-option>
        <nb-option value="6">June</nb-option>
        <nb-option value="7">July</nb-option>
        <nb-option value="8">August</nb-option>
        <nb-option value="9">September</nb-option>
        <nb-option value="10">October</nb-option>
        <nb-option value="11">November</nb-option>
        <nb-option value="12">December</nb-option>
      </nb-select>
    </div>
    <div class="trailing">
      <button nbButton shape="round" size="small" status="info" *ngIf="selectedPost" (click)="deselectPost()">
        <nb-icon icon="close"></nb-icon>
      </button>
    </div>
  </nb-layout-header>
  <nb-layout-column><router-outlet></router-outlet></nb-layout-column>
  <nb-sidebar responsive [(state)]="sidebarState">
    <nb-sidebar-header>
      <nb-list>
        <nb-list-item 
          routerLink="/posts"
          queryParamsHandling="merge"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          nbTooltip="All Posts"
          [nbTooltipDisabled]="sidebarState != 'compacted'"
          class="all-posts"
        >
          <nb-icon icon="grid"></nb-icon>
          <div *ngIf="sidebarState != 'compacted'">All Posts</div>
        </nb-list-item>
      </nb-list>
    </nb-sidebar-header>
    <div *ngIf="response$ | async as response">
      <nb-list>
        <nb-list-item 
          *ngFor="let profile of response.profiles"
          [routerLink]="['/', profile.username]"
          [queryParams]="{selected: null}" 
          queryParamsHandling="merge"
          routerLinkActive="active"
          [nbTooltip]="profile.display_name"
          [nbTooltipDisabled]="sidebarState != 'compacted'"
        >
          <nb-user 
            size="small" 
            shape="rectangle" 
            [name]="profile.display_name"
            [picture]="profileService.getProfileImagePath(profile.image_filename)"
            [onlyPicture]="sidebarState == 'compacted'"
          ></nb-user>
        </nb-list-item>
      </nb-list>
    </div>
    <nb-sidebar-footer>
      <input type="text" nbInput placeholder="Search">
    </nb-sidebar-footer>
  </nb-sidebar>
 </nb-layout>