<div class="container" *ngIf="post else notFound">
  <nb-card *ngFor="let item of post.items; index as index">
    <img mat-card-image *ngIf="item.type == 'image'" loading="lazy" [src]="postService.getMediaPath(post.username, item.filename)">
    <video mat-card-image *ngIf="item.type == 'video'" preload="none" controls muted [poster]="postService.getPosterPath(post.username, item.thumb_image_filename)">
      <source [src]="postService.getMediaPath(post.username, item.filename)" type="video/mp4">
    </video>
    <nb-card-footer class="media">
      <button nbButton ghost><nb-icon icon="star"></nb-icon></button>
      <div>Index: {{ index }}</div>
      <button nbButton ghost status="danger" (click)="deleteItem(post.shortcode, item.index)"><nb-icon icon="trash-2-outline"></nb-icon></button>
    </nb-card-footer>
  </nb-card>
  <nb-card>
    <nb-card-header>
      <div>{{ post.username }}</div>
      <div>{{ post.timestamp | date }}</div>
    </nb-card-header>
    <nb-card-body>{{ post.caption }}</nb-card-body>
    <nb-card-footer class="media">
      <div class="shortcode">{{ post.shortcode }}</div>
      <button nbButton ghost status="danger" (click)="deletePost(post.shortcode)"><nb-icon icon="trash-2-outline"></nb-icon></button>
    </nb-card-footer>
  </nb-card>
</div>
<ng-template #notFound>
  <div class="container">
    <nb-card>
      <nb-card-body>
        Post cannot be found
      </nb-card-body>
    </nb-card>
  </div>
</ng-template>