@import 'themes';

// framework component styles
@import '~@nebular/theme/styles/globals';

// install the framework styles
@include nb-install() {
  @include nb-theme-global();
};

nb-list-item:focus {
  outline: none;
}

nb-list-item:hover {
  background-color: #EFF5FB;
}

nb-list-item.active {
  background-color: #E0ECF8;
}