<div class="container" *ngIf="profile$ | async as profile else notFound">
  <nb-card class="post-stats">
    <nb-card-header>Post Stats</nb-card-header>
    <nb-card-body *ngIf="stats.length > 0">
      <table [nbTreeGrid]="stats" equalColumnsWidth>
        <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
        <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>
        <ng-container nbTreeGridColumnDef="Year">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{ allColumns[0] }}</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row"><b>{{ row.data.year }}</b></td>
        </ng-container>
        <ng-container *ngFor="let column of allColumns.slice(1)" [nbTreeGridColumnDef]="column">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{column}}</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row">{{ row.data[column] }}</td>
        </ng-container>
      </table>
    </nb-card-body>
    <nb-card-footer>
      <nb-list>
        <nb-list-item>
          <b>Total Count</b>{{ profile.stats.total_count | number }}
        </nb-list-item>
        <nb-list-item>
          <b>Earliest</b>{{ profile.stats.first_post_timestamp | date }}
        </nb-list-item>
        <nb-list-item>
          <b>Latest</b>{{ profile.stats.last_post_timestamp | date }}
        </nb-list-item>
      </nb-list>
    </nb-card-footer>
  </nb-card>
  <nb-card class="task-list">
    <nb-card-header>
      Tasks
      <button nbButton ghost status="warning" [nbContextMenu]="taskActions" nbContextMenuTag="task-actions">
        <nb-icon icon="plus"></nb-icon>
      </button>
    </nb-card-header>
    <nb-list>
      <nb-list-item *ngFor="let task of profile.tasks">
        <div>
          <task-type-icon [type]="task.type"></task-type-icon>
          <div *ngIf="task.started == null && task.completed == null">
            Created {{ task.created | timePast }}
          </div>
          <div *ngIf="task.started && task.completed == null">
            Started {{ task.started | timePast }}
          </div>
          <div *ngIf="task.started && task.completed">
            Completed {{ task.completed | timePast }}
          </div>
        </div>
        <div>
          <nb-tag *ngIf="task.post_count" status="info" appearance="outline" size="tiny" text="{{task.post_count}}" nbTooltip="Saved Post Count: {{task.post_count}}"></nb-tag>
          <task-status-icon [status]="task.status"></task-status-icon>
        </div>
      </nb-list-item>
      <nb-list-item *ngIf="profile.tasks.length == 0">No Task</nb-list-item>
    </nb-list>
  </nb-card>
  <nb-card>
    <nb-card-header>Biography</nb-card-header>
    <nb-card-body>{{ profile.biography }}</nb-card-body>
  </nb-card>
</div>
<ng-template #notFound>
  <div class="container">
    <nb-card accent="danger" style="width: 100%">
      <nb-card-header>Error</nb-card-header>
      <nb-card-body>
        Profile cannot be found
      </nb-card-body>
    </nb-card>
  </div>
</ng-template>
<ng-template #timeRangeTaskCreationDialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Create Job: Time Range</nb-card-header>
    <nb-card-body>
      <p>Do you want to associate post with a different user?</p>
    </nb-card-body>
    <nb-card-footer class="confirmation">
      <button nbButton status="basic" size="small" (click)="ref.close()">Cancel</button>
    </nb-card-footer>
  </nb-card>
</ng-template>