<div class="container">
  <nb-card *ngIf="profile else notFound">
    <nb-card-header>{{ profile.display_name }}</nb-card-header>
    <nb-card-body class="table-container">
      <table [nbTreeGrid]="postCounts" equalColumnsWidth>
        <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
        <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>
        <ng-container nbTreeGridColumnDef="Year">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{ allColumns[0] }}</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row">
            {{ row.data.year }}
          </td>
        </ng-container>
        <ng-container *ngFor="let column of allColumns.slice(1)" [nbTreeGridColumnDef]="column">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{column}}</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row">{{ row.data[column] }}</td>
        </ng-container>
      </table>
    </nb-card-body>
    <nb-card-footer>{{ profile.username }}</nb-card-footer>
  </nb-card>
</div>
<ng-template #notFound>
  <div class="container">
    <nb-card>
      <nb-card-body>
        Post cannot be found
      </nb-card-body>
    </nb-card>
  </div>
</ng-template>