<div class="container">
  <nb-card *ngIf="profile else notFound">
    <nb-card-header>{{ profile.display_name }}</nb-card-header>
    <nb-card-body>
      <table>
        <tr>
          <th>Year</th>
          <th>Q4</th> 
          <th>Country</th>
        </tr>
        <tr>
          <td>Alfreds Futterkiste</td>
          <td>Maria Anders</td> 
          <td>Germany</td>
        </tr>
        <tr>
          <td>Centro comercial Moctezuma</td>
          <td>Francisco Chang</td> 
          <td>Mexico</td>
        </tr>
      </table>
    </nb-card-body>
    <nb-card-footer>{{ profile.username }}</nb-card-footer>
  </nb-card>
</div>
<ng-template #notFound>
  <div class="container">
    <nb-card>
      <nb-card-body>
        Post cannot be found
      </nb-card-body>
    </nb-card>
  </div>
</ng-template>