<div class="container">
  <div class="grid" infiniteScroll (scrolled)="getNextPage()">
    <ng-template ngFor let-post [ngForOf]="postService.posts.values()">
      <div 
        [routerLink]="[]"
        [queryParams]="{selected: post.shortcode}"
        queryParamsHandling="merge"
        routerLinkActive="active"
        class="item"
      >
        <img *ngIf="post.items[0].type == 'image'" loading="lazy"
          [src]="postService.getMediaPath(post.username, post.items[0].filename)">
        <img *ngIf="post.items[0].type == 'video'" loading="lazy"
          [src]="postService.getPosterPath(post.username, post.items[0].thumb_image_filename)">
        <div class="overlay" *ngIf="post.type == 'video'">
          <nb-icon status="basic" icon="film-outline"></nb-icon>
        </div>
        <div class="overlay" *ngIf="post.type == 'sidecar'">
          <nb-icon status="basic" icon="layers-outline"></nb-icon>
        </div>
      </div>
    </ng-template>
    <div *ngFor="let i of [].constructor(10)"></div>
  </div>
  <div class="detail">
    <post-detail *ngIf="selectedPost$ | async as selectedPost; else profileInfo" [post]="selectedPost"></post-detail>
    <ng-template #profileInfo>
      <profile-info *ngIf="selectedUsername$ | async as selectedUsername" [username]="selectedUsername"></profile-info>
    </ng-template>
  </div>
</div>